.ghost-button {
    text-align: center;
    font-size: 0.8em;
    width: auto;
    padding: 0.7em;
    margin: 3em auto 0em auto;
    border-color: $dark-green;
    border-style: solid;
    border-width: thin;
    border-radius: 6px;
    cursor: pointer;
    a:link, a:visited {
        text-decoration: none;
        color: $dark-green;
    }
}
.ghost-button:hover {
    border-color: $light-green;
}
