.data-collection-page {
    position: absolute;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2, h3, h4 {
        // margin: 1vh 0;
    }

    .form-block-title {
        // margin: 5vh 0 5vh 0;
    }

    p {
        margin: 0;
    }
}

.flex-column-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex-container {
    display: flex;
}

.flex-wrapper {
    display: flex;
    flex: 1;
    margin: auto;
}

.flex-item {
    flex: 1;
}
