.page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    h1:first-of-type,
    h2:first-of-type,
    h3:first-of-type {

        padding: 2vh;
        // margin: 1vh 0;
    }

    .page-header {
        font-size: 1.3em;
    }
}

.left {
    text-align: left;
}


.flex-column-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}
