.data-collection-page {
    position: absolute;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.flex-wrapper {
    display: flex;
    flex: 1;
    margin: auto;
}

.flex-item {
    flex: 1;
}
