
.input-number {
    width: 10vw;
}

/*http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.radio-container {

    width: 90%;
    background-color: grey;
    margin: auto;

    .radio-row {

        background: orange;
        border: 1px solid black;

        &:hover {
            cursor: pointer;
        }
    }

}

.radio-block-title, .radio-block-text {
    text-align: left;
}

.radio-selected-tick {
    width: 4vh;
    height: 4vh;
}
