.form-block {
    padding: 3vh 0;
}

.form-block-title {
    text-align: left;
}

.date-container {

}

.time-container {

}

.label {
    display: inline-block;
}

.form-input { // input-text
    height: 6vh;
}

.input-number {
    width: 15vw;
    height: 7vw;

    &.large {
        width: 20vw;
        height: 12vw;
    }
}

/*http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radio-container {

    width: 100%;
    margin: auto;
    margin-bottom: 5vh;

    .radio-row {

        &:hover {
            cursor: pointer;
        }
    }
}

.radio-block-title, .radio-block-text {
    text-align: left;
}

.radio-selected-tick {
    width: 4vh;
    height: 4vh;
}

.weight-input-container {

    margin: auto;
    // .input-wrapper {
    //     flex-grow: 1;
    //     -webkit-justify-content: flex-end;
    //     justify-content: flex-end;
    // }

    .label {
        font-weight: 500;
    }

    .input-wrapper

    .input-title {
        font-size: 1.3em;
    }
}
