.login-title {
    font-weight: lighter;
    margin: 20px 3vmin 30px 3vmin;
}

#login-email-input, #login-password-input {

        height: 40px;
        font-size: 1em;
        display: block;
        margin: 3vmin 0 7vmin 0;
}

.login-wrapper {
    .form-block .form-label {
        font-size: 1.5em;
        font-weight: lighter;
    }
}
