.login-title {
    font-weight: lighter;
    margin: 3vmin;
}

#login-email-input, #login-password-input {

        height: 7vh;
        font-size: 5vmin;
        display: block;
        margin: 3vmin 0 7vmin 0;
}

.login-wrapper {
    .form-block .form-label {
        font-size: 7vmin;
        font-weight: lighter;
    }
}
