.radio-block {

    margin: 20px;
    width: 90vw;

    .description {

        flex-grow: 2;
        margin: auto;

        h4, p {
            // width: 60vw;
        }

        * {
            text-align: left;
        }
    }

    .radio-block-image-wrapper {

    }

    .radio-block-image {
        height: auto;
        margin: auto;
        // margin-right: 20px;
    }
}
