// TEXT

h1, h2, h3, h4 {
    // margin: 0; // will remove margin as and when
    font-weight: normal;
}


h1, h2, h3, h4, p {
    text-align: center;
}

p {
    font-size: 1em;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.display-none {
    display: none;
}

.line-break {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
