html, body {
    padding: 0;
    margin: 0;
    // width: 100%;
}

input:focus, textarea:focus {
    outline: none;
}

button {
    margin: 0;
    background-color: transparent;

    &:active {
        background-color: transparent;
    }
}

// div {
//     border: 1px solid black;
// }
